<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>Indeks aplikacji</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='//fonts.googleapis.com/css?family=Playball&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/hello.css' %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="">Indeks djangowych aplikacji</a></h1>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">W nawiasie nazwa kursu/tutorialu</a></h1>
				<ol>
					<li><a href="/blog/">Blog</a>
							(<a href="http://tutorial.djangogirls.org/en/index.html">
							Django Girls Tutorial</a>)</li>
					<li><a href="/polls/">Polls app</a>
							(tutorial z oficjalnej strony 
							<a href="https://docs.djangoproject.com/en/1.8/intro/">Django</a>)</li>
					<li><a href="/rango/">Rango</a>
							(<a href="http://www.tangowithdjango.com/book17/index.html#">
							How To Tango With Django</a>)</li>
				</ol>
			</div>
		</div>
	</body>
</html>