<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}"/>
		<title>Indeks aplikacji</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='//fonts.googleapis.com/css?family=Playball&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/hello.css' %}">
	</head>
	<body>
		<div class="page-header">
			<h1>
				<a href="">Wojciech Dudek - portfolio</a>
			</h1>
		</div>
		<div class="post">
			<div class="date">
				<h1><a href="">Python:</a></h1>
				<p><strong>Przerobione książki i kursy.</strong></p>
				<p>
					<ol>
						<li><a href="http://www.codecademy.com/en/tracks/python">
								Python | Codecademy</a></li>
						<li><a href="http://www.learnpython.org/pl/">Learn Python</a></li>
						<li><a href="http://learnpythonthehardway.org/book/">
								Zed A. Shaw, Learn Python the Hard Way</a></li>
						<li><a href="http://www.amazon.com/Python-Programming-Introduction-Computer-Science/dp/1887902996">
								John Zelle, Python Programming: An Introduction to Computer Science</a></li>
						<li><a href="http://www.greenteapress.com/thinkpython/">
								Allen B. Downey, Think Python: How to Think Like a Computer Scientist</a></li>
						<li> <strong>Przykładowe projekty:</strong>
							<ul>
								<li><a href="http://pastebin.com/Kzys7t9b">crawler.py</a>
								- skrypt szukujący odsyłaczy na wybranej stronie (oraz jej podstronach do zadanej "max_depth");
								konweruje wynik do JSON i zapisuje go w pliku. [WIP]</li>					
							</ul>
						</li>
					</ol>
				</p>
			</div>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">Django:</a></h1>
				<p><strong>Aplikacja | nazwa ukończonego kursu/tutorialu | rozdział przerobiony.</strong></p>
				<p>
					<ol>
						<li><a href="/blog/">Blog</a> |
								<a href="http://tutorial.djangogirls.org/en/index.html">
								Django Girls Tutorial</a> | <strong>ukończony</strong></li>
						<li><a href="/polls/">Polls app</a> |
								tutorial z oficjalnej strony 
								<a href="https://docs.djangoproject.com/en/1.8/intro/">Django</a> | 6 z 8</li>
						<li><a href="/rango/">Rango</a> | 
								<a href="http://www.tangowithdjango.com/book17/index.html#">
								How To Tango With Django 1.7</a> | 12 z 27</li>
					</ol>
				</p>
			</div>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">VCS & Deployment:</a></h1>
				<p><strong>Ukończone tutoriale:</strong></p>
				<p>
					<ol>
						<li>
							Heroku + Python/Django: 
							<a href="">heroku.com</a>
						</li>
						<li>
							tutorial GitHub dokłączony do "How to Tango With Django 1.7": 
							<a href="http://www.tangowithdjango.com/book17/chapters/git.html">Git Crash Course</a><br />
							<ul>
								<li><a href="https://github.com/Jakiesimie">moje konto na gitHub</a></li>
							</ul>
						</li>
					</ol>
				</p>
			</div>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">HTML & CSS:</a></h1>
				<p><strong>Ukończone kursy.</strong></p>
				<ol>
					<li>Ukończony w czasie studiów kurs HTML; wykonanie kilku stron "domowych".</li>
					<li>
						<a href="http://www.codecademy.com/en/tracks/web">
							HTML & CSS | Codecademy</a></li>
					<li>
						"How to Tango With Django": 
						<a href="http://www.tangowithdjango.com/book17/chapters/css_intro.html">CSS Crash Course</a>
					</li>
				</ol>
			</div>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">JavaScript + jQuery</a></h1>
				<p>
					<ol>
						<li><a href="http://www.codecademy.com/en/tracks/javascript">JavaScript | Codecademy</a></li>
						<li><a href="http://www.codecademy.com/tracks/jquery">jQuery | Codecademy</a>
							<ul>
								<li><a href="/jqtest/">jQuery - wprawki</a></li>
							</ul>
						</li>
					</ol>
				</p>
			</div>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">Inne:</a></h1>
				<p>
					<ol>
						<li>Środowisko wirtualne (virtualenv)</li>
						<li>Podstawowa znajomość linuksowego shella</li>
						<li>Bazy danych: podstawy SQL</li>
					</ol>
				</p>
			</div>
		</div>

		<div class="post">
			<div class="date">
				<h1><a href="">W planach:</a></h1>
				<p><strong>Co tylko Państwo zechcą.:) A na własną rękę planuję się uczyć:</strong></p>
				<p>
					<ol>
						<li>Bootstrap</li>
						<li>Bazy danych (PostgreSQL?)</li>
						<li>Wszystko, co będzie przydatne/wymagane</li>
					</ol>
				</p>
			</div>
		</div>

		<div class="page-footer">
			<p>
				<a href="mailto:wdudek82@gmail.com">wdudek82@gmail.com</a>
			</p>
		</div>
	</body>
</html>