<!DOCTYPE html>

{% load staticfiles %}

<html>

	<head>
		<link rel="icon" type="image/png" href="{% static "icons/favicon.png" %}"/>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says... hello world!</h1>
		{% if categories %}
			<ul>
				{% for category in categories %}
				<!-- /rango/category/{{ category.slug }} -->
				<li><a href={% url 'category' category.slug %}>{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			 <strong>There are no categories present.</strong>
		{% endif %}
		
		<h3>Most visited pages</h3>
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no pages present.</strong>
		{% endif %}
		<p><a href={% url 'add_category' %}>Add a New Category</a></p>
		<hl>
		<p><a href="/">Strona główna</a></p>
		<img src="{% static "images/jokes.png" %}" alt="Programming jokes" />
	</body>

</html>
