h1 a {
	color: #FFFFFF;
	font-family: 'Playball';
}

body {
	padding-left: 25%;
	padding-right: 25%;
}

.page-header {
	background-color: #2E0260;
	margin-top: 0;
	padding: 2% 5% 2% 5%
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:activate {
	color: #F01F07;
	font-size 36pt;
	text-decoration: none;
}

.content {
	margin-left: 2%;
	margin-right: 2%;
}

h1, h2, h3, h4 {
	font-family: 'Playball', cursive;
}

.date {
	float: left;
	color: #461F6F
}

.save {
	float: right;
	color: #828282;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.post {
	margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
	color: #54019F;
}
