div {
    height:100px;
    /*width:100px;*/
    /*border-radius:5px;*/
    /*display: inline-block;*/
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Arial, Sans-Serif;
    margin-right:0px;
}

img {
    position: relative;
    top: 0;
    left: 0; 
}

a {
    color: white;
    text-decoration: none;    
}

#home {
    height: 30px;
    width: 200px;
    background-color: #6733B7;
    font-color: white;
}

#yellow {
    display: inline-block;
    margin: 3px;
    width: 100px;
    border-radius: 100%;
    background-color: orange;    
}

#ready {
    display: inline-block;
    margin: 3px;
    width:100px;
    background-color:#008800;
    color:#FFFFFF;
}

#notready {
    display: inline-block;
    margin: 3px;
    width:100px;
    background-color:#FF0000;
    color:#FFFFFF;
}

.button {
    /*display: inline-block;*/
}

.panel {
    background: #ffffbd;
    margin: -8px auto 5px auto;
    height: 30px;
    width: 500px;
    display: none;
    font-family: garamond,times-new-roman,serif;
}
.panel p {
    text-align:center;
}

.slide {
    margin: -8px auto;
    width: 500px;
    padding:0;
    border-top:solid 2px #cc0000;
}

.pull-me {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor: pointer;

    display: block;
    position:relative;
    margin: 6px auto;
    width:150px;
    height:20px;
    font-family:arial,sans-serif;
    font-size:14px;
    color:#ffffff;
    background:#cc0000;
    text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.pull-me p {
    text-align:center;
}